NEXT_PUBLIC_SUPABASE_URL=https://kssoegpiqppqhfuaohzk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Q1gEVW3UP1ezr-eIvDE2Lg_j9gOEfUg
SEB_PHONE=07 78 24 65 67
SEB_PHONE_E164=+33778246567
PORT=3000
PIN_CODE=6567
